*{
  font-family: Lato, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  width: 40%;
  /* border: 1px solid black; */
}
header{
  padding: 1rem 0;
}
form button, form input{
  background: transparent;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}
form button{
  
  cursor: pointer;
  background-color: #4267B2;
  color: white;
 
}

form{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  min-width: 350px;
}
input:focus{
  outline: none;
}
/* .item-list{
  width: 400px;
  list-style: none;
  margin: 2rem;
}
.item-wrapper {
  border: 1px solid black;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .7rem 0;
  font-size: 1.5rem;
  
}

.item-wrapper button, .item-wrapper li {
  border: none;
  padding: 0 10px;
  
}
.item-wrapper button {
  color: red;
  cursor: pointer;
  background: none;
  transition: all .3s ease-in-out;
}
.item-wrapper button:hover{
  transform: scale(1.1);
} */
.item-wrapper{
  width: 100%;
  margin: 1rem;
}
.products{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 1rem;
  width: 80%;
  border: 1px solid black;
  margin: 1.2rem auto;
}
.products button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: tomato;
  font-weight: bold;
}